In [18]:
import numpy as np 
import pandas as pd 
import tensorflow as tf 
import seaborn as sns 
import matplotlib.pyplot as plt 
import warnings
warnings.filterwarnings('ignore')

In [26]:
train_data=pd.read_csv('train.csv')
train_data.head()

,id,Time,feat1,feat2,feat3,feat4,feat5,feat6,feat7,feat8,...,feat21,feat22,feat23,feat24,feat25,feat26,feat27,feat28,Transaction_Amount,IsFraud
0,0,0.0,2.074329,-0.129425,-1.137418,0.412846,-0.192638,-1.210144,0.110697,-0.263477,...,-0.334701,-0.887840,0.336701,-0.110835,-0.291459,0.207733,-0.076576,-0.059577,1.98,0
1,1,0.0,1.998827,-1.250891,-0.520969,-0.894539,-1.122528,-0.270866,-1.029289,0.050198,...,0.054848,-0.038367,0.133518,-0.461928,-0.465491,-0.464655,-0.009413,-0.038238,84.00,0
2,2,0.0,0.091535,1.004517,-0.223445,-0.435249,0.667548,-0.988351,0.948146,-0.084789,...,-0.326725,-0.803736,0.154495,0.951233,-0.506919,0.085046,0.224458,0.087356,2.69,0
3,3,0.0,1.979649,-0.184949,-1.064206,0.120125,-0.215238,-0.648829,-0.087826,-0.035367,...,-0.095514,-0.079792,0.167701,-0.042939,0.000799,-0.096148,-0.057780,-0.073839,1.00,0
4,4,0.0,1.025898,-0.171827,1.203717,1.243900,-0.636572,1.099074,-0.938651,0.569239,...,0.099157,0.608908,0.027901,-0.262813,0.257834,-0.252829,0.108338,0.021051,1.00,0

In [27]:
column=['IsFraud','id']
X=train_data.drop(column,axis=1)
y=train_data['IsFraud']

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

# Define the KNearest classifier
knn_classifier = KNeighborsClassifier()

# Define parameter grid for KNearest classifier
param_grid_knn = {
    'n_neighbors': [3, 5, 7],
    'weights': ['uniform', 'distance']
}

# Perform grid search for KNearest classifier
grid_search_knn = GridSearchCV(knn_classifier, param_grid_knn, cv=5)
grid_search_knn.fit(X_train, y_train)

print("Best parameters for KNearest Classifier:")
print(grid_search_knn.best_params_)
print("Best score for KNearest Classifier:", grid_search_knn.best_score_)

# Train the best KNearest classifier on the entire training set
best_knn_classifier = grid_search_knn.best_estimator_
best_knn_classifier.fit(X_train, y_train)

# Make predictions on the test set using the best KNearest classifier
y_pred_knn = best_knn_classifier.predict(X_test)

Best parameters for KNearest Classifier:
{'n_neighbors': 5, 'weights': 'uniform'}
Best score for KNearest Classifier: 0.9982

In [30]:
score_test=best_knn_classifier.score(X_test,y_test)
print(score_test)

0.9982333333333333

In [31]:
from sklearn.metrics import classification_report
report=classification_report(y_test,y_pred_knn)
print("Classification Report for KNearest Classifier:")
print(report)

Classification Report for KNearest Classifier:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     29947
           1       0.00      0.00      0.00        53

    accuracy                           1.00     30000
   macro avg       0.50      0.50      0.50     30000
weighted avg       1.00      1.00      1.00     30000

In [32]:
df_test=pd.read_csv('test.csv')
df_test.head()

,id,Time,feat1,feat2,feat3,feat4,feat5,feat6,feat7,feat8,...,feat20,feat21,feat22,feat23,feat24,feat25,feat26,feat27,feat28,Transaction_Amount
0,150000,73899,-0.681234,-0.371212,0.385966,0.955703,2.064078,0.338827,-0.539452,-0.254046,...,0.183560,-0.253324,0.266668,-0.153829,0.455969,-0.503628,0.257588,-0.456685,-0.298919,30.42
1,150001,73899,-1.098947,-0.959377,0.324934,0.703908,1.090582,-1.595909,0.584548,0.260069,...,0.334764,0.130108,0.676928,-0.161070,-0.638011,-0.273424,0.711132,0.349967,0.141233,23.00
2,150002,73899,0.977029,-0.270984,0.471526,-1.232570,0.957537,-0.636602,-0.953060,-1.491744,...,0.355728,0.517912,1.175087,-0.325895,-0.362636,0.306037,0.004828,0.037389,0.058222,198.00
3,150003,73900,1.176658,-0.225816,-0.246600,0.015513,1.103831,1.229516,-1.527098,-0.459769,...,-0.152613,-0.104600,0.003800,-0.023180,-0.458338,0.481427,-0.381415,0.080165,0.027372,9.99
4,150004,73900,0.804828,-0.272967,0.959910,-1.117567,0.395748,0.589855,1.059880,-1.101203,...,-0.127818,-0.011849,0.078540,-0.241700,0.010130,0.302614,-0.259568,0.023127,0.056957,239.00

In [33]:
X_test_new=df_test.drop('id',axis=1)

In [34]:
df_test['IsFraud']=best_knn_classifier.predict(X_test_new)

In [35]:
df_test[['id','IsFraud']].to_csv('submission.csv',index=False)
submission_data=pd.read_csv("submission.csv")
submission_data.head()

       id  IsFraud
0  150000        0
1  150001        0
2  150002        0
3  150003        0
4  150004        0